*{
    margin: 0px;
    border:0px;
    
}

header{
    background-color: black;
}
section{
    overflow: auto
}

.left_menu{
    margin: 20px;
    border: 20px;
}
section .left_menu h1:nth-child(3){
    color: rgb(10, 82, 82);
}
section .left_menu h1:nth-child(4){
    color: rgb(160, 68, 3);
}
.left_side_nav ul li:nth-child(1){
    color: rgb(139, 0, 0)
}
.left_side_nav ul li a:link{
   color:white;
   text-decoration: none;
}
.left_side_nav ul li a:visited{
    color: white;
    text-decoration: none;
 }
 .left_side_nav ul li a:hover{
    color: red;
    text-decoration: underline;
 }
